section.create-post 
    form.create-post_form(data-user=user) 
        h3.heading-primary create your one post 😅
        .form_group 
            textarea#title.form_input(rows="4" cols="28" placeholder="Write title of post" name='title' required)
        .form_group 
            label.form_label--photo(for="photo") choose photo <i class="fa-regular fa-image"></i>
            input#photo.form_input(type='file' name="photo" accept="/image*")
        .form_group 
            select#status.form_select(name="status") 
                 option(value="public") Public 
                 option(value="private") Private
                
        .form_group
            button.btn--b.form_input--btn(type='submit') create <i class="fa-solid fa-arrow-up-from-bracket"></i>