header.header_section
  if(user)
    span.header_info(data-userid= JSON.stringify({id: user._id}) style='display: none')
  .header_section--logo 
    strong FOPU 
  nav.header_section--nav
    if(!user)
      a.header_section--link(href='/login') Login
      a.header_section--link(href='/register') Sign Up 
    else 
      ul.header_section--user.header_list 
        li.header_list--item 
          a.header_list--link(href='/global-chat')
            <i class="fa-brands fa-rocketchat"></i>
        li.header_list--item 
          a.header_list--link(href='/me') 
            figure.header_section--photo 
              img.header_section--userphoto(src=user.photo)
                
                