header.header_section
      .header_section--logo 
        strong FOPU 
      nav.header_section--nav
        if(!user)
            a.header_section--link(href='/login') Login
            a.header_section--link(href='/register') Sign Up 
        else 
            .header_section--user 
                a.header_section--username(href="/me")= user.name.split(' ')[0]
                figure.header_section--photo 
                    img.header_section--userphoto(src=user.photo)
                