doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href='/css/style-main.css')
        link(rel="stylesheet", href="/css/account-style.css")
        link(rel="stylesheet", href="/css/style-chat.css")
        //- link(rel="stylesheet", href="/css/loading.min.css")
        link(rel="shortcut icon", href="/photos/icons/favicon-32x32.png", type="image/png")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
        title FOPU | #{title}
    body
        block page
            include _header
        
            block content
                include _create-post
                include _blog-post
        //- script(src="https://cdn.socket.io/4.8.1/socket.io.min.js")
        script(src='https://fopu.onrender.com/socket.io/socket.io.js')
        //- script(src='http://localhost:3000/socket.io/socket.io.js')
        script(src="/js/index.js")
        script(src="/js/chat.js") 
        script(src="/js/user-account.js") 