extends base

block content
    form.form_login
        - console.log(user)
        .form_group 
            label.form_label(for='email') Address Email :
            input#email.input_field(type="email" placeholder="example@email.com" name='email')
        .form_group 
            label.form_label(for='email') Password :
            input#password.input_field(type="password" placeholder="*******" name='password')
        .form_group 
            button#submit.input_field.btn--b(type="submit") submit