.section_messages{
    position: relative;
    height: 100vh;
    max-width: 70rem;
    background-color: #ccc;
    margin: 3rem auto;
    padding: 1.3rem;
}
@media only screen and (max-width: 600px) {
    .section_messages{
        margin: 0;
    }
}
.section_messages--header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
}
.section_messages-heading{ font-size: 2.4rem;}

.section_content {
    /* background-color: #ccc;
    padding: 1.33rem; */
    
}
.section_content--messages{
    max-height: 78vh;
    overflow-y: scroll;
    /* padding-bottom: 3rem; */
}
.chat_form{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.chat_form input:first-child{
    background-color: #fff;
    flex: 1;
    font-size: 1.8rem;
    padding: 1rem;
}
.chat_form input::placeholder{
    color: #fff;
}
.chat_form input:last-child{
    background-color: aqua;
    color: #fff;
    padding: .5rem;
    width: 10rem;
    cursor: pointer;
    transition: all .3s ease;
}
.chat_form input:last-child:hover{
    background-color: black;
}
.chat_form .form_group{
    border: none;
    display: flex;
    flex-direction: row;
}
.message {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    max-width: max-content;
    padding: .5rem 1.89rem;
    border-radius: 10rem;
    margin-bottom: 1.44rem;
    line-height: 1.2;
}
.message.message_self{
    background-color: rgb(154, 234, 248);
    margin-left: auto;
}
.message_name{
    font-size: 1.8rem;
    font-weight: bold;
    color: blue;
    letter-spacing: -1px;
}

.message_txt{
    color: #777;
    font-size: 1.73rem;
}

.message_photo{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -1.33rem;
}
.message_img{
    width:100%;
}

.message_write{
    text-align: center;
    color: black;
    font-size: 1.56rem;
}