@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --main-color: #7C90DB;
    --main-font:"Outfit", serif;
    --primary-color:#BEE7B8;
    --secondary-color: #4C2E05;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

@media only screen and (max-width:600px) {
    html{ font-size:52%;}
}

body{
    position: relative;
    line-height: 1.4;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-style: normal;
    /* background: hsla(33, 100%, 53%, 1);

background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1 ); */
}

.success{
    background-color: rgb(8, 225, 8);
    
}
.show-msg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: block;
    padding: 1.23rem 2.34rem;
    font-size: 2.4rem;
    text-align: center;
    color: #fff;
  }
.error{
    background-color: red;
}
.btn--b{
    display: inline-block;
    height: 4.75rem;
    max-width: 15rem;
    background-color: #0B3B5B;
    color: #fff;
    font-size: 2.2rem;
    border-radius: .3rem;
    transition: all .4s ease;
    cursor: pointer;
}
.btn--b:hover{
    transform: scale(1.06);
    background-color: #1A8AD6;
}
input, textarea{
    border: none;
    outline: none;
}

/* __________ HEADER SECTION DESIGN _____________ */
.header_section{
    border-bottom: 1px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2rem;
}
/* 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 */
.header_section--user{
   display: flex;
   align-items: center;
   gap: 1rem;
}
.header_section--photo{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
}
.header_section--userphoto{height: 100%; width: 100%;}
.header_section--logo strong{
    font-size: 2.4rem;
    font-weight: 600;
    color: blue;
}
.header_section--nav{}
.header_section--link{}
.header_section--username{
    font-size: 2rem;
    font-weight: bold;
    color: orangered;
}

.header_section--userinfo{

}


.box_back {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
}
.box_back:hover{
    transform: scale(1.1);
}
.back-link:link,
.back-link:active{
    display: inline-block;
}


/* ____________________ FORM TO CREATE POSTS ___________________ */
.create-post{
    border: 1px solid #ccc;
    width: 100vw;
    max-width: 45rem;
    margin: 0 auto;
    padding: 1.75rem;
    border-radius: 1rem;
} 

.form_group {
    display: flex;
    flex-direction: column;
}

.form_group textarea{
    font-size: 2.4rem;
}

.heading-primary{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
.form_label--photo{
    font-size: 2.2rem;
    text-align: center;
    background-color: #ccc;
    padding: 1.52rem 0;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s ease;
}
.form_label:hover{
   background-color: green;
   color: #fff;
}
.form_label.saved {
    color: green;
    background-color: #ccc;
}
.form_input[type="file"]{
    display: none;
}
.form_input--btn{
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1.45rem;
    width: 50%;
    margin: 2rem auto;
    border-radius: 10rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}
.form_input--btn:hover{
    background-color: orange;
}
@media only screen and (max-width:600px){
    .heading-primary{
        font-size: 2.4rem;
    }
    .form_group textarea{
        font-size: 1.8rem;
    }
}


/* _______________________ CREATION OF CONTENT POSTS ______________ */

.global_posts{
    padding: 1.75rem 1.24rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    width: 100vw;
    max-width: 42rem;
    margin: 2rem auto;
}
.heading_secondary{
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}
.card_post{
    position: relative;
    border:2px solid #1A8AD6;
    border-radius: 2.25rem;
    overflow: hidden;
}

.card_post--btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: blue;
    font-size: 2.4rem;
    border: none;
    outline: none;
   
}
.card_post--list{
    position: absolute;
    top: 2rem;
    right: 1.34rem;
    background-color: #ccc;
    border-radius: .3rem;
}
.card_post--item{
    font-size: 1.45rem;
    color: #fff;
    padding: .59rem 1.68rem;
    cursor: pointer;
}
.card_post--item:first-child{border-bottom: 1px solid #fff;}
.card_post--photo{
    width: 100%;
    max-height: 35rem;
    overflow: hidden;
}
.card_post--img{
   width: 100%;
}

.card_post--content{
   display: flex;
   align-items: center;
   gap: 1.2rem;
   padding: .73rem;
   
}
.card_box { }
.card_box--img{
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
}
.card_box--emoji{
  margin-left: auto;
  background-color: orange;
  border-radius: 1rem;
  padding: .5rem;
    font-size: 1.78rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}
.card_box--text{
    flex: 1;
    line-height: 1;
}
.card_post--name{
    font-size: 1.7rem;
    font-weight: bold;
    color: #1A8AD6;
}
.card_post--time{
    display: inline-block;
    color: #444;
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: .82rem;
}
.card_post--parag, .card_post--parag--arabic{
    font-size: 1.56rem;
    padding-left: .92rem;
    color: #0B3B5B;
    letter-spacing: 1.5px;
}
.card_post--parag--arabic{
    direction: rtl;
}
/* .card_box--emoji{
    padding: .5rem;
    font-size: 1.78rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} */

@media only screen and (max-width:600px){
   .card_post{
    width: 100%;
   }
}


/* ________________REGISTER FORM __________________ */

.form_group{
    border: 1px solid #777;
    padding: 1rem;
}

.box_setting{
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    color: #ccc;
    font-size: 2.8rem;
    z-index: 1;
}
.box_setting i {
    cursor: pointer;
    transition: all .3s ease;
}
.box_setting:hover i {
    color: white;
    transform: scale(1.1);}
/* __________ ACCOUNT PAGE ____________ */

.account{
    position: relative;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    max-width: 114rem;

    margin: 0 auto;
}
.account_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
    border-bottom: 1px solid orange;
    text-align: center;
}

.account_header--photobox{
    height: 15rem;
    width: 15rem;
    border: .5rem solid white;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2.4rem;
}

.account_header--photo{
    width: 100%;
}
.account_header--info{
    line-height: 1;
    margin-bottom: 3.2rem;
} 
.account_header--name{
    font-size: 3.2rem;
    color: var(--secondary-color);
    margin-bottom: 2.2rem;
}
.account_header--username{
    font-size: 2rem;
    text-align: center;
    color: #7A8450;
}

.account_header--text{
    font-size: 1.6rem;
    max-width: 70%;
    margin: .9rem auto;
    color: #cccccc;
    font-weight: 200;
    text-shadow: .1rem .1rem black;
}


.account_form, .account_form--password{
   display: none;
   padding: 5rem;
   background-color: #ccc;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 2rem;
   box-shadow: 1rem 1rem 1rem rgba(0,0,0, .1)
}

.account_form--group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}
.account_form--label img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.account_form--remove, .account_form--rm{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.4rem;
}
.account_form--remove, .account_form--rm i {
    transition: all .3s ease;
    cursor: pointer;
}
.account_form--remove:hover, .account_form--rm:hover i {
    transform: scale(1.1);
    color: red;
}

.account_form--title{
   font-size: 2.4rem;
   margin-bottom: 2.4rem;
}

.account_form--input{
    font-size: 1.66rem;
    padding: 1rem;
    border-radius: 1rem;
}